p:hover {
  background-color: rgb(51, 222, 25);


}

body {
  height: 500px;
  width: 700px;
}

img[alt="some"] {
  border-radius: 50%;
}

img[alt="nature"] {
  border-radius: 50%;
}

header {
  color: white;
  background-color: black;

}

#yes h1,

{
color: rgb(15, 209, 115);
}

li {
  font-size: 20px;
}

li:nth-child(3) {
  color: red;
}

li:last-child {
  color: green;
}

.bx p {
  text-transform: uppercase;
  font-size: 2rem;

}

.sh {
  font-size: 2rem;
  text-shadow: 10px 4px 2px red;

}

.shh {
  font-size: 2rem;
  text-decoration: underline;
}